.header__title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 5px;
}

.header__paragraph {
  font-size: 12px;
  margin: 10px 0;
  letter-spacing: 5px;
}

@media (max-width: 420px) {
  .header__title {
    font-size: 22px;
  }
}
