html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://iili.io/J4MfR4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  padding: 0 0 125px 90px;
}

@media (max-width: 420px) {
  body {
    padding: 10px 10px 125px 10px;
    background-position: 65% 44%;
  }
}
